<!DOCTYPE html>
<html>

<head>	
    <title>User Story Manager</title>
</head>
        <h2><p>User Story Manager</p></h2>
        <button type="button" onclick="localhost/story"> <a href="/story"> Add new story</a></button>
<head>
      <title>HTML Tables</title>
   </head>
	
   <body>
      <p><table border = "1">
         <tr>
            <td>ID</td>
            <td>Story Title</td>
            <td>User Story</td>
            <td>Accaptable Criteria</td>
            <td>Business Value</td>
            <td>Estimation</td>
            <td>Status</th>
        </tr>
      </p></table>
      
   </body>
</html>
