<!DOCTYPE html>
<html>

<head>
	
    <title>User Story Manager</title>

</head>

<body>
    <p><big>User Story Manager - Add New Story</big></p>

<form action="contactus.php" method="post">

    <p>Story Title<br>
    <input type="text" name="title" value="" required></p>

    <p>User Story<br>
    <textarea name="story" rows="8" cols="60"></textarea required></p>

    <p>Accaptable criteria: <br>
    <textarea name="criteria" rows="8" cols="60" required></textarea></p>

    <p>Business value<br>
    <input type="number" name="buisness value" min="100" max="1500" step="100" required></p>
    
    <p>Estimation(h)<br>
    <input type="number" name="estimation" min="0.5" max="40" step="0.5" required></p>

    <p>Status<br>
        <select>
            <option value="planning">Planning</option>
            <option value="todo">TODO</option>
            <option value="in progress">In Progress</option>
            <option value="review">Review</option>
            <option value="done">Done</option>
        </select> 
        <button type="button" onclick="alert('Done!')">Create</button></p>
    </form>
</body>

</html>